/*************************************************************ELEMENT*************************************************************************************/
h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat-Black";
}

body{
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

p{
  color: #8f8f8f;
}

/* Headings */
.big-heading{
  font-family: "Montserrat-Black", sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;

}

/* Navbar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 1.2rem;
}


.nav-link{
  font-family: "Montserrat-Light";
  font-size: 1.5rem;
}

.download-button{
  margin: 5% 3% 5% 0;
}


/* Title */

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

.title-image {
  position: absolute;
  right: 30%;
  transform: rotate(25deg);
  width: 60%;
}

@media (max-width: 1028px){
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0)
  }
}

/* Features */

#features{
  line-height: 2;
  background-color: #fff;
  position: relative;
}

.feature-icon{
  color:#ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68
}

.feature-header{
  font-size: 1.5rem;
}

.feature-description{
  color: #8f8f8f;
}

/* Testimonial Section */
#testimonials{
  background-color: #ef8172;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image{
  border-radius: 100%;
  margin: 1.3rem;
  width: 10%;
}




/* Press Section */

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo{
  margin: 1.8rem 1.8rem 4.2rem;
  width: 15%;
}

/* Pricing Section */

#pricing{
  padding: 8.2rem;
}

.pricing-column{
  padding: 3% 2%;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}


/* Footer */

#footer{
  background-color: #fff;
}

.footer-icon{
  padding: 8% 1% 3%;
}

.copyright{
  font-size: .9rem;
}
